<<<<<<< HEAD

<!---<h1><%= Date.today %></h1>--->
<p>The date is Tuesday, July 31, 2018</p>
=======
<% @date="Tuesday, July 31, 2018" %>
<%= <h1>"Today"</h1>
<p>"The date is #{@date}"</p> %>
>>>>>>> c91f5b138862be2bb7dfdf497ed669301eb03ad9
